main {
    width: 800px;
    height: 400px;
    background-color: #3c91db;
    display: flex;
    flex-direction: column;
    align-content: center;

}
main, button, a {
    background-color: #3c91db;
}
header {
    margin: 0 auto;
}
.box {
    height: 200px;
    width: 600px;
    margin: 0 auto;
}
h1, h2, h3, button, a {
    color: rgb(219, 233, 236);
}
h2, h3 {
    display: flex;
    justify-content: center;
}
h2 {
    height: 60px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button, a {
    border: 2px solid  rgba(145, 175, 224, 0.5);
    border-radius: 5px;
}
button {
    width: 242px;
    height: 40px; 
    margin: 5px;
    padding: 10px;
    font-weight: bold;
} 
a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 15px; 
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
i {
    padding: 0 10px;
}